<ion-header>
  <ion-toolbar color="primary">
    <ion-title>New Service Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>

    <form [formGroup]="createServiceForm"> 

      <!-- <ion-item class="propertyInput"> -->
        <!-- <ion-label position="floating">Property <ion-text color="danger">*</ion-text></ion-label> -->
        <!-- <ion-input formControlName="property"></ion-input> -->
        <ion-list>
          <ion-icon class="propertyInput" name="add" slot="end" (click)="newProperty()"></ion-icon>

          <ion-item >

            <ion-select interface="popover" placeholder="Select Property" formControlName="property"><ion-text color="danger">*</ion-text>
              <ion-select-option [value]="property" *ngFor="let property of propertiesList">{{property.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      <!-- </ion-item> -->

      <ion-item>
        <ion-label position="floating">Title <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Description <ion-text color="danger">*</ion-text></ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Reporter <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="reporter"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Servicer <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="servicer"></ion-input>
      </ion-item>

    </form>
    <ion-button (click)="create()" [disabled]="createServiceForm.invalid"> {{serviceRequestId ? 'Edit' : 'Create'}}</ion-button>

  </ion-card>


</ion-content>