<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Our Properties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-button class="newProperty"  (click)="newProperty()">New Property</ion-button>
<ion-content>

  <ion-list lines="full">
    <ion-item class="item-label item ios in-list ion-focusable hydrated">
      <ion-avatar slot="start" class="ios hydrated">
        <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR01EsqY-XCjvAEdfxCp6odO7Y2QbysRUPxDA&usqp=CAU" />
      </ion-avatar>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>SKY Limits</h2>
        <h3>Vishal Nagar</h3>
        <p>Wakad, Pune 411045</p>
      </ion-label>
    </ion-item>

    <ion-item class="item-label item ios in-list ion-focusable hydrated">
      <ion-avatar slot="start" class="ios hydrated">
        <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGrKayYQs0tmsjQAYc9HuE2l_Y3QeCyLo27g&usqp=CAU" />
      </ion-avatar>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>Glory Heigts</h2>
        <h3>Atul Colony</h3>
        <p>Kothrud, Pune 411033</p>
      </ion-label>
    </ion-item>

    
    <ion-item class="item-label item ios in-list ion-focusable hydrated">
      <ion-avatar slot="start" class="ios hydrated">
        <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9N433wxdz25Qk61v4gCnGJ18KqgNz1YrqTg&usqp=CAU" />
      </ion-avatar>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>Purva Apartment</h2>
        <h3>Karve Road</h3>
        <p>Kothrud, Pune 411033</p>
      </ion-label>
    </ion-item>

    
    <ion-item class="item-label item ios in-list ion-focusable hydrated">
      <ion-avatar slot="start" class="ios hydrated">
        <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsW9GMyPiJO2Be_I7uGhdCr7htk1AAZ08O1g&usqp=CAU" />
      </ion-avatar>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>Sumair Heights</h2>
        <h3>Balewadi High Street</h3>
        <p>Balewadi, Pune 411033</p>
      </ion-label>
    </ion-item>

    <ion-item class="item-label item ios in-list ion-focusable hydrated">
      <ion-avatar slot="start" class="ios hydrated">
        <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR01EsqY-XCjvAEdfxCp6odO7Y2QbysRUPxDA&usqp=CAU" />
      </ion-avatar>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>SKY Limits</h2>
        <h3>Vishal Nagar</h3>
        <p>Wakad, Pune 411045</p>
      </ion-label>
    </ion-item>

    <ion-item class="item-label item ios in-list ion-focusable hydrated">
      <ion-avatar slot="start" class="ios hydrated">
        <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGrKayYQs0tmsjQAYc9HuE2l_Y3QeCyLo27g&usqp=CAU" />
      </ion-avatar>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>Glory Heigts</h2>
        <h3>Atul Colony</h3>
        <p>Kothrud, Pune 411033</p>
      </ion-label>
    </ion-item>

    
    <ion-item class="item-label item ios in-list ion-focusable hydrated">
      <ion-avatar slot="start" class="ios hydrated">
        <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9N433wxdz25Qk61v4gCnGJ18KqgNz1YrqTg&usqp=CAU" />
      </ion-avatar>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>Purva Apartment</h2>
        <h3>Karve Road</h3>
        <p>Kothrud, Pune 411033</p>
      </ion-label>
    </ion-item>

    
    <ion-item class="item-label item ios in-list ion-focusable hydrated">
      <ion-avatar slot="start" class="ios hydrated">
        <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsW9GMyPiJO2Be_I7uGhdCr7htk1AAZ08O1g&usqp=CAU" />
      </ion-avatar>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>Sumair Heights</h2>
        <h3>Balewadi High Street</h3>
        <p>Balewadi, Pune 411033</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>